.btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 1s; /* smooth color change */
}

.btn:hover {
  background-color: red;
}
.card {
  width: 150px;
  height: 150px;
  background: teal;
  border-radius: 10px;
  transition: all 1s ease-in-out; 
}

.card:hover {
  width: 250px;
  height: 250px;
  background: purple;
  border-radius: 50%;
}