.grid{
    display: grid;
    margin: 100px;
    grid-template-columns : repeat(6, 50px);
    grid-template-rows: repeat(5,50px);
    gap: 1px;
}

.child-1{
    background-color: red;
    border: 1px solid white;
    grid-row: span 2;
}

.child-2{
    background-color: purple;
    border: 1px solid white;
}

.child-3{
    background-color: red;
    border: 1px solid white;
    grid-column: span 2;
}

.child-5{
    background-color: blue;
    border: 1px solid white;
}

.child-6{
    grid-row: span 4;
    border: 1px solid white;
}


.child-8{
    background-color: orange;
    border: 1px solid white;
    grid-row: span 2;
}

.child-9{
    border: 1px solid white;
}

.child-10{
    border: 1px solid white;
}

.child-11{
    background-color: orange;
    border: 1px solid white;
    grid-row: span 2;
}

.child-12{
    background-color: purple;
    border: 1px solid white;
}

.child-14{
    border: 1px solid white;
}

.child-15{
    border: 1px solid white;
}

.child-17{
    background-color: orange;
    border: 1px solid white;
    grid-row: span 2;
}

.child-18{
    background-color: blue;
    border: 1px solid white;
}

.child-19{
    background-color: purple;
    border: 1px solid white;
}

.child-20{
    background-color: red;
    border: 1px solid white;
    grid-column: span 2;
}

.child-23{
    background-color: purple;
    border: 1px solid white;
}

.child-24{
    background-color: orange;
    border: 1px solid white;
    grid-column: span 2;
}

.child-26{
    background-color: purple;
    border: 1px solid white;
}

.child-27{
    background-color: blue;
    border: 1px solid white;
}